＃Flask==2.3.2
#pandas>=2.1.0
#gunicorn==20.1.0
#tensorflow==2.16.2
#python-multipart
#fastapi
#uvicorn
#numpy
#pandas
#scikit-learn
#matplotlib
#pyyaml
#h5py

Flask==2.3.3
tensorflow==2.12.1
keras==2.12.0
numpy==1.24.3
h5py==3.10.0
pandas==2.2.2
tensorflow-io-gcs-filesystem==0.31.0
protobuf==4.25.8
gunicorn==21.2.0
